
body {
    margin: 0 auto;
    font-family: 'Arial Narrow', 'Nimbus Sans L', sans-serif;
    font-stretch: condensed;
    background: rgb(229,245,255); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(229,245,255,1) 1%, rgba(242,250,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,rgba(229,245,255,1)), color-stop(100%,rgba(242,250,255,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(229,245,255,1) 1%,rgba(242,250,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(229,245,255,1) 1%,rgba(242,250,255,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(229,245,255,1) 1%,rgba(242,250,255,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(229,245,255,1) 1%,rgba(242,250,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5f5ff', endColorstr='#f2faff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    z-index: -20;
}

#introBody {
    background-image: none;
}

#intro {
    background-image: url(pics/introBg.png);
    background-repeat: no-repeat;
    -moz-background-size: 50%;
    -o-background-size: 50%;
    background-size: 50%;
    background-position: 30% 1%;
}

    #intro img {
        width: 23%;
        margin: 21.5% 60%;
        -moz-animation: rollIn 2s, pulse 3s infinite;
        -o-animation: rollIn 2s, pulse 3s infinite;
        -webkit-animation: rollIn 2s, pulse 3s infinite;
        animation: rollIn 2s, pulse 3s infinite; /* Safari and Chrome */
    }

    #intro a img:hover {
        -webkit-animation: none 1s ease-in-out;
        -moz-animation: none 1s ease-in-out;
        -o-animation: none 1s ease-in-out;
        animation: none 1s ease-in-out;
    }

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    50% {
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0.6;
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    50% {
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0.6;
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes rollIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%) rotate(-120deg);
        -moz-transform: translateX(100%) rotate(-120deg);
        -ms-transform: translateX(100%) rotate(-120deg);
        -o-transform: translateX(100%) rotate(-120deg);
        transform: translateX(100%) rotate(-120deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0px) rotate(0deg);
        -moz-transform: translateX(0px) rotate(0deg);
        -ms-transform: translateX(0px) rotate(0deg);
        -o-transform: translateX(0px) rotate(0deg);
        transform: translateX(0px) rotate(0deg);
    }
}

@keyframes rollIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%) rotate(-120deg);
        -moz-transform: translateX(100%) rotate(-120deg);
        -ms-transform: translateX(100%) rotate(-120deg);
        -o-transform: translateX(100%) rotate(-120deg);
        transform: translateX(100%) rotate(-120deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0px) rotate(0deg);
        -moz-transform: translateX(0px) rotate(0deg);
        -ms-transform: translateX(0px) rotate(0deg);
        -o-transform: translateX(0px) rotate(0deg);
        transform: translateX(0px) rotate(0deg);
    }
}

@-webkit-keyframes rollIn /* Safari and Chrome */ {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%) rotate(-120deg);
        -moz-transform: translateX(100%) rotate(-120deg);
        -ms-transform: translateX(100%) rotate(-120deg);
        -o-transform: translateX(100%) rotate(-120deg);
        transform: translateX(100%) rotate(-120deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0px) rotate(0deg);
        -moz-transform: translateX(0px) rotate(0deg);
        -ms-transform: translateX(0px) rotate(0deg);
        -o-transform: translateX(0px) rotate(0deg);
        transform: translateX(0px) rotate(0deg);
    }
}



.container {
    width: 85%;
    margin: 2% auto 1% auto;
    padding-bottom: 8%;
    display: block;
    overflow: hidden;
    z-index: -15;
    background-color: rgba(255, 255, 255, .8);
    /*-moz-box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.2);
	-webkit-box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.2);
	box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.2);*/
    -moz-box-shadow: 0 0 25px rgba(128, 128, 128, 0.4);
    -webkit-box-shadow: 0 0 20px rgba(128, 128, 128, 0.4);
    box-shadow: 0 0 25px rgba(128, 128, 128, 0.4);
    position: relative:;
}

header {
    width: 100%;
    height: 15em;
    background-image: url('pics/header.png');
    -moz-background-size: 70%;
    -o-background-size: 70%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: left;
    margin: 1% 0 0 2%;
    position: relative;
}

.content, .categories, .introText {
    width: 74%;
    height: auto;
    float: left;
    position: relative;
    letter-spacing: .1em;
    color: black;
    padding: 0 2em 1em 2em;
    z-index: 2;
}

.content, .categories {
    margin: 4% 0 0 3%;
}

.introText {
    margin: 0 0 0 3%;
}

.content div, .categories div {
    display: inline-block;
    margin: 1em;
    /*width: 10em;*/
    text-align: center;
}

.content a, .categories a, .form a {
    text-decoration: none;
}

.form {
    margin: 7% 0 0 0;
    width: 70%;
    z-index: 2;
    float: left;
    position: relative;
}

/***********************
     Link settings 
***********************/
a:link, a:visited, a:hover, a:active, a:focus {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:visited {
}

.externalLinkIcon {
    width:20px;
    height: auto;
}

/* Hover settings */
a:hover, a:focus {
    color: rgba(255,102,0,1);
}

/***********************
    Navigation Menu 
***********************/
#nav {
    width: 18%;
    height: 17em;
    float: right;
    margin: 5% 0 0 -5%;
    position: relative;
    padding: 0;
    vertical-align: middle;
    text-transform: capitalize;
}
#nav > ul {
    margin: 19% 0;
}

    #nav ul.subMenu, #nav ul.partnerSubList {
        display: none;
    }

    #nav ul.visible {
        display: block;
    }


    #nav hr {
        border: 0;
        position: absolute;
        margin: 0;
    }

    #nav hr, .cvDiv hr:before {
        width: 1.5px;
        height: 25em;
        background: radial-gradient(ellipse at center, rgba(255,102,0,1) 0%,rgba(0,0,0,0) 85%);
    }


    #nav li {
        list-style: none;
        padding: 0.6em 0 .6em 0;
    }

    #nav ul ul > li {
        padding-top: 0.5em;
    }

    #nav li li {
        padding: .3em 0;
        margin-left: -2em;
    }

    #nav > ul > li > a {
        text-decoration: none;
        display: block;
        font-size: larger;
        font-weight: 500;
    }

    #nav .subMenu {
        padding-top: 0.5em;
    }

    #nav a {
        color: rgba(54,95,145,1);
    }

        #nav a:hover, #nav a:focus {
            color: rgba(255,102,0,1);
        }





/* textMenu home sprite */
/*#homeSprite {
    width: 62px;
    height: 75px;
    text-decoration: none;
    display: block;
    background-image: url(pics/homeSprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    -moz-transition: background-image 0s;
    -o-transition: background-image 0s;
    -webkit-transition: background-image 0s;
    transition: background-image 0s;
}

    #homeSprite:hover, #homeSprite:active, #homeSprite:focus {
        background-position: 0 -75px;
    }*/

/*Text menu hover effect*/




/*******************
    Partner List
*******************/
#partnerList {
    position: relative;
    float: right;
    border: 1px solid red;
    width: 20%;
}


.projectList {
    padding: .8em;
}

    .projectList p {
        text-align: left;
        font-size: x-small;
        padding: 0.1em;
        margin: 0;
    }

    .projectList h4 {
        padding: 0;
        margin: .5em 0 0 0;
    }

    .projectList ul li {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .projectList ul div img {
        width: 150px;
        padding: 0;
        margin: 0;
        opacity: 0.8;
    }

    .projectList ul div {
        width: auto;
        margin: 1em .7em 1em 0;
        padding: 0;
    }

        .projectList ul div:hover img, .projectList div:focus img {
            box-shadow: 1px 1px 7px #999;
            opacity: 1;
        }

        .projectList ul div:hover h4, .projectList ul div:focus h4 {
            color: rgba(255,102,0,1);
        }


.categories h4:hover, .categories a:hover, .categories div:hover, .imageMenu div a h3:hover, #nav > ul > li > a:hover, .cvDiv > ul > li > a:hover, .fileContainer a:hover {
    color: rgba(255,102,0,1);
}

.categories h4:focus, .categories a:focus, .categories div:focus, .imageMenu div a h3:focus, #nav > ul > li > a:focus, .cvDiv > ul > li > a:focus {
    color: rgba(255,102,0,1);
}

/**************************
         Flash video 
****************************/
#flashWrapper {
    position: relative;
    padding-bottom: 30%; /* 16:9 */
    width: 50%;
    height: 0;
    margin: 6% 0 0 14%;
    im;
}

    #flashWrapper object {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 105%;
    }


h1, h2, h3, h4, h5, h6 {
    color: rgba(54,95,145,1);
}

h1 {
    font-size: 1.2em;
}

h2, h4 {
    text-transform: uppercase;
}

h4 {
    font-size: 0.8em;
}

a {
    text-decoration: none;
}

li a {
    color: black;
}

.cvDiv {
    width: 75%;
    height: 30em;
    overflow: auto;
    margin: 4% 0 0 0;
    z-index: 3;
}

    .cvDiv h3 {
        margin: 0;
        text-align: center;
        padding: 0;
    }

    .cvDiv h4 {
        text-align: left;
        padding: 0 0 0 2.5em;
    }

    .cvDiv p {
        padding: 0 2em;
        text-align: left;
    }

    .cvDiv .imgDiv {
        width: 15%;
        margin: 0 0 0 5%;
        float: left;
        position: absolute;
    }

    .cvDiv .cv li {
        padding: .5em 0;
        margin-left: 2.5em;
    }


    .cvDiv .cv {
        padding: 0 1em;
        float: left;
        width: 70%;
        position: relative;
        margin: 0 0 0 22%;
    }

    .cvDiv .sectionBreak {
        margin:  auto;
        text-align: center;
        padding: 0;
        width: 20%;
    }

        .cvDiv .sectionBreak img {
            width: 100%;
            text-align: center;
        }

    .cvDiv .vLine {
        border: 0;
        position: absolute;
        margin: -100% 0 0 60%;
    }

    .cvDiv hr.vLine, .cvDiv hr.vLine:before {
        width: 1px;
        height: 30em;
        background: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 0,rgba(0,0,0,0) 65%);
    }

#cvTitle {
    width: 25%;
    position: relative;
    margin: 5% 0 0 40%;
}

/**********************
      IMAGE MENU
**********************/
.imageMenu {
    width: 80%;
    display: block;
    margin: 3% 0 5% 0;
    text-align: center;
    position: relative;
    float: left;
}

    .imageMenu div {
        width: 10em;
        height: auto;
        display: inline-block;
        margin: 0 1%;
        position: relative;
        font-size: medium;
    }

        .imageMenu div a {
            text-decoration: none;
        }
        .imageMenu .lowerTitle {
            bottom: -1.3em;
        }
/*
         .imageMenu div img {
         	width: 180px;
         	height: 140px;
         	border: 3px solid black;
         	display: inline-block;
         }*/

Image menu hover effect .imageMenu div p {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    position: absolute;
    color: transparent;
    font-size: 1em;
    background: transparent;
    width: 83%;
    height: 46%;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 3em 1em 0 1em;
    display: inline-block;
}

.imageMenu a:hover p, .imageMenu a:focus p {
    color: white;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.imageMenu a:hover h3, .imageMenu a:focus h3 {
    color: rgba(255,102,0,1);
}

.imageMenu a:hover, .imageMenu a:focus {
    outline: 0;
}

.active h3, #nav .active {
    /*color: rgba(95,165,201,1);*/
    color: rgba(255, 102, 0, 0.6);
}

/*******************
        FORM
********************/
form {
    width: 50%;
    margin: 0 0 0 30%;
    clear: both;
    background-color: white;
}

    form label {
        display: block;
        width: 6em;
        position: relative;
    }

    form input {
        margin: .2em 0 .2em 0;
        display: block;
        width: 16em;
        padding: .2em .2em .2em .2em;
    }


    form textarea {
        resize: none;
        width: 98%;
        height: 8em;
        padding: .2em;
    }

    form fieldset {
        margin: 1.5em 0 0 0;
    }

#submitButton {
    background-color: rgba(54,95,145,1);
    color: white;
    font-size: 1em;
    padding: .2em;
    float: right;
    width: 4em;
    height: 10%;
    margin: 0 auto;
}

.contact {
    width: 25%;
    position: relative;
    line-height: 1.9em;
    float: left;
    z-index: 10;
    padding: 0 0 0 5em;
    margin: 10% 0 0 10%;
}

#boothImg {
    margin: 10%;
    position: relative;
    width: 19%;
    height: 20em;
    float: left;
    z-index: 10;
    background-image: url(pics/phoneBooth.png);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#quill {
    height: 15em;
    width: 30%;
    background-image: url(pics/quill.gif);
    background-repeat: no-repeat;
    position: absolute;
    z-index: -10;
    margin: 22em 79%;
    float: left;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    opacity: 0.7;
}


#compass {
    height: 13em;
    width: 12%;
    background-image: url(pics/compass.png);
    background-repeat: no-repeat;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: bottom;
    float: left;
    z-index: -5;
    margin: 30em 33em;
    position: absolute;
}

.map {
    margin: 10%;
    width: 59.2%;
    border: solid 7px white;
    -moz-box-shadow: 2px 2px 7px 2px #999;
    -webkit-box-shadow: 2px 2px 7px 2px #999;
    box-shadow: 2px 2px 7px 2px #999;
    z-index: 20;
    background-color: white;
}

    .map iframe {
        width: 100%;
        z-index: 125;
    }


/*****************************
    Project Image Slider
******************************/
.rslides {
    margin: 0 auto 40px;
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 80%;
    padding: 0;
}

#slider {
    box-shadow: none;
    margin: 0 auto;
}

.rslides_tabs {
    list-style: none;
    font-size: 18px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    display: none;
    left: 0;
    top: 0;
}

    .rslides li:first-child {
        position: relative;
        display: block;
        float: left;
    }

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}


.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px;
}

.rslides_tabs a {
    line-height: 20px;
    padding: 9px 20px;
    background: transparent;
    display: inline;
}


#slider-thumbs a {
    display: inline-block;
    padding: 0;
    width: 50px;
    overflow: hidden;
}

#slider-thumbs img {
    float: left;
    height: 50px;
    opacity: 0.8;
}

#slider-thumbs .rslides_here a {
    background: transparent;
    box-shadow: 0 0 0 2px rgba(255,102,0,1);
}

#slider-thumbs img:hover, #slider-thumbs img:focus, #slider-thumbs a:focus, #slider-thumbs a:active, #slider-thumbs a:focus {
    opacity: 1;
}

a:focus {
    opacity: 1;
    color: rgba(255,102,0,1);
}

/*************************
    File downloads
**************************/
.fileContainer {
    margin: 0;
    padding: 0;
    font-size: small;
}

    .fileContainer div {
        float: left;
        position: relative;
        width: 100px;
    }

    .fileContainer img {
        width: 50px;
        opacity: 0.8;
    }

    .fileContainer a {
        color: rgba(54,95,145,1); /*width: 60px;*/
    }

    .fileContainer p {
        margin: 0;
        padding: 0;
    }

    .fileContainer a:focus, .fileContainer a:hover {
        color: rgba(255,102,0,1);
        -moz-transition: ease-in-out none;
        -o-transition: ease-in-out none;
        -webkit-transition: ease-in-out none;
        transition: ease-in-out none;
    }

    .fileContainer img:hover {
        opacity: 1;
    }



/************************
            Footer
 ************************/
footer {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: .8em;
}
